nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
    text-align: center;
}

ul {
  padding-left: 0;
}

.header-links {
  font-family: "Solway";
  width: 80%;

  li {
    display: inline-block;
    width: 25%;
  }
}

svg {
    width: 40%;
}

.moon-icon {
    padding-left: 10px;
    margin-bottom: 8px;
    max-height: 50px;
    max-width: 50px;
}