nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
    text-align: center;
}

fa-icon {
  vertical-align: 0;
}

ul {
  padding-left: 0;
}

.header-links {
  font-family: "Solway";
  width: 80%;

  li {
    display: inline-block;
    width: 25%;
  }
}

.moon-icon {
  font-size: 32px;
  padding-bottom: 10px;
}

.title {
  font-family: 'Courier Prime', sans-serif;
  margin-bottom: 0;
}