h1 {
    color: white;
    text-align: center;
}

.intro-content {
    background-color: #6E8965;
    margin: 0 auto;
    width: 97%;
}

.intro-text {
    margin: auto;
    padding: 10px 0;
    width: 97%;
}
